<template>
<div>
  <button v-if="!connected" @click="login">Login w/ Github</button>
  <chat :title="roomId" :initial-feed="msges" @newOwnMessage="onMsg" />
</div>
</template>

<script>
  import matrix from 'matrix-js-sdk'
  import chat from 'basic-vue-chat'
  export default {
    data() {
      return {
        roomId: '!AHidsAxEfXjQaYJDWY:ride2go.com',
        connected: false,
        msges: []
      }
    },
    methods: {
      login() {
        window.open(window.location + 'github')
      },
      async connect() {
        const auth = JSON.parse(window.localStorage.getItem('matrix'))
        if (auth) {
          this.mx = matrix.createClient(auth)
          // const room = await this.mx.createRoom({ room_alias_name: 'test' })
          // this.mx.invite(room.room_id, '@flo:ride2go.com')
          this.mx.joinRoom(this.roomId)
          this.mx.on('sync', () => this.connected = true)
          this.mx.on("Room.timeline", (e) => {
            if (e.event.type === 'm.room.message' && e.event.room_id === this.roomId && e.event.sender) {
              this.msges.push({
                id: e.event.sender.match(auth.userId)? 0 : 1,
                author: e.event.sender, contents: e.event.content.body,
                date: new Date(e.event.origin_server_ts).toString().match(/(\d\d:\d\d):/)[1]
              })
            }
          })
          this.mx.startClient({ initialSyncLimit: 42 })
        }
      },
      onMsg(text) {
        this.mx.sendTextMessage(this.roomId, text)
      }
    },
    created() {
      window.addEventListener('storage', this.connect, false)
      this.connect()
    },
    components: {
      chat: chat
    }
  }
</script>
